@use '@theme/theme';
@use '@theme/mixins';

.menu {
  display: flex;
  background: theme.$stone;
  gap: theme.$spacing-small;
  box-sizing: border-box;

  @include mixins.title;

  padding: theme.$spacing-small;
  padding-left: theme.$spacing-large;

  .button {
    align-self: flex-end;
  }

  .container {
    position: relative;
    overflow: visible;
  }

  .sub-link {
    display: flex;
    flex-direction: column;
    position: absolute;
    max-height: 0;
    background: theme.$stone;
    width: 14rem;
    left: 0;
    top: 100%;
    overflow: hidden;
    line-height: 2rem;
    z-index: 2;
    transition: max-height ease-in-out 0.2s;

    &.news {
      width: 20rem;
    }

    .child {
      padding: theme.$spacing-smaller;
      padding-left: theme.$spacing-small;
    }
  }

  @include mixins.mobile {
    .sub-link {
      top: theme.$spacing-smaller;
      line-height: normal;
      max-height: fit-content;
      position: relative;
      display: none;

      &.local {
        display: flex;
      }
    }
  }

  @include mixins.desktop {
    .container:hover .sub-link {
      max-height: 120rem;
    }
  }

  .spacer {
    flex-grow: 1;
  }

  .outbound {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .donate {
    text-align: right;

    @include mixins.desktop {
      margin: -1rem 0;
    }

    .link {
      display: block;
    }
  }
}
