@use '@theme/theme';
@use '@theme/mixins';

.menu {
  display: flex;
  background: theme.$stone;
  gap: theme.$spacing-small;
  @include mixins.title;
  padding: theme.$spacing-small;

  .button {
    align-self: flex-end;
    padding-right: theme.$spacing-large;
  }
}
