@use '@theme/theme';
@use '@theme/mixins';

.page {
  padding: theme.$spacing-small;
}

.carousel {
  @include mixins.mobile {
    max-height: unset;
  }
}

.terms-header {
  margin-top: theme.$spacing-padding;
  font-weight: theme.$extra-bold;
}
