@use '@theme/theme';

$mobile-breakpoint: 900px;
$banner-height: 350px;

@mixin mobile {
  @media only screen and (width <= calc($mobile-breakpoint - 1px)) {
    @content;
  }
}

@mixin desktop {
  @media only screen and (min-width: $mobile-breakpoint) {
    @content;
  }
}

@mixin monotype {
  font-family: 'Courier New', Courier, monospace;
  background: theme.$mono-bg;
  border: 1px solid theme.$mono-border;
  border-radius: 3px;
  padding: 0 2px;
}

@mixin logo {
  max-height: 6rem;
  max-width: 6rem;
  margin: 0.5rem;
}

@mixin title {
  font-size: theme.$font-header;
  font-weight: theme.$extra-bold;
}

@mixin banner {
  display: block;
  width: 100%;
  position: relative;

  @include mobile {
    max-height: 60dvw;
  }
}
