@use '@theme/theme.scss';

.title {
  font-size: theme.$font-very-large;
  font-weight: theme.$extra-bold;
}

.copy {
  font-size: theme.$font-header;
}

.events {
  display: flex;
  flex-direction: column;
  align-items: center;

  .event {
    width: 90%;
  }
}
