@use '@theme/mixins.scss';
@use '@theme/theme.scss';

.title {
  font-size: theme.$font-very-large;
  font-weight: theme.$extra-bold;
}

.copy {
  font-size: theme.$font-header;
  text-align: justify;
}

.events {
  display: flex;
  flex-direction: column;
  align-items: center;

  @include mixins.desktop {
    .event {
      width: 90%;
    }
  }
}

.page {
  padding: theme.$spacing-small;
}
