@use '@theme/theme';
@use '@theme/mixins';

.header {
  position: sticky;
  top: 0;
  z-index: 2;
  background: theme.$stone;
  display: grid;
  grid-template: 'icon options hamburger';
  grid-template-columns: auto 1fr auto;
  grid-auto-flow: column;
  font-size: theme.$font-header;

  @include mixins.mobile {
    grid-template: 'icon title hamburger';
  }

  .icon {
    grid-area: icon;

    @include mixins.logo;
  }

  .options {
    grid-area: options;
    justify-content: flex-start;
    align-items: center;

    @include mixins.mobile {
      display: none;
    }
  }

  .hamburger {
    grid-area: hamburger;
    place-self: flex-start flex-end;

    @include mixins.title;

    font-size: theme.$font-extra-large;
    padding-top: theme.$spacing-small;
    padding-right: theme.$spacing-small;

    @include mixins.desktop {
      display: none;
    }
  }

  .socials {
    grid-area: hamburger;
    place-self: center flex-end;

    @include mixins.mobile {
      display: none;
    }
  }

  .container {
    display: none;
    position: fixed;
    inset: 0;
    z-index: 2;

    .dismiss {
      height: 100%;
      width: 20dvw;
    }

    &[data-show='true'] {
      @include mixins.mobile {
        display: block;
      }
    }
  }

  .menu {
    position: fixed;
    width: 70dvw;
    max-width: 20rem;
    top: 0;
    bottom: 0;
    height: 100dvh;
    right: -70dvw;
    transition: right 0.2s ease-in-out;
    flex-direction: column;

    &[data-slide='true'] {
      right: 0;
    }
  }
}
