@use '@theme/theme';
@use '@theme/mixins';

.header {
  background: theme.$stone;
  display: grid;
  grid-template: 'icon options hamburger';
  grid-template-columns: auto 1fr auto;
  grid-auto-flow: column;
  overflow-y: hidden;
  font-size: theme.$font-header;

  @include mixins.mobile {
    grid-template: 'icon title hamburger';
  }

  .icon {
    grid-area: icon;
    @include mixins.logo;
  }

  .options {
    grid-area: options;
    justify-content: flex-start;
    align-items: center;

    @include mixins.mobile {
      display: none;
    }
  }

  .hamburger {
    grid-area: hamburger;
    justify-self: flex-end;
    @include mixins.title;
    font-size: theme.$font-extra-large;
    padding-right: theme.$spacing-small;

    @include mixins.desktop {
      display: none;
    }
  }

  .container {
    display: none;
    position: fixed;
    inset: 0;

    .dismiss {
      height: 100%;
      width: 20dvw;
    }

    &[data-show='true'] {
      @include mixins.mobile {
        display: block;
      }
    }
  }

  .menu {
    position: fixed;
    width: 80dvw;
    top: 0;
    bottom: 0;
    height: 100dvh;
    left: 100dvw;
    transition: left 0.2s ease-in-out;
    flex-direction: column;

    &[data-slide='true'] {
      left: 20dvw;
    }
  }
}
