@use '@theme/mixins';
@use '@theme/theme';

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  margin: theme.$spacing-small 0;

  .title {
    font-size: theme.$font-header;
    font-weight: theme.$extra-bold;
  }

  .date {
    font-size: theme.$font-smaller;
    margin-right: theme.$spacing-smaller;
    flex-shrink: 0;
  }
}
