@use '@theme/theme';
@use '@theme/mixins';

.footer {
  background: theme.$stone;
  display: grid;
  grid-template-columns: 1fr 5fr 1fr;
  justify-content: space-between;
  align-items: center;
  padding: theme.$spacing-smaller;
  font-size: theme.$font-smaller;

  .msg {
    align-items: center;
    display: flex;
    flex-direction: column;
  }

  .smaller {
    font-size: theme.$font-smallest;
  }

  @include mixins.desktop {
    grid-template-columns: 1fr;

    .spacer,
    .socials {
        display: none;
    }
  }
}
