@use '@theme/theme.scss';
@use '@theme/mixins.scss';

.shell {
  display: grid;

  @include mixins.desktop {
    grid-template-areas: 'header header header' '. page .' 'footer footer footer';
    grid-template-columns: 1fr 4fr 1fr;
  }

  @include mixins.mobile {
    grid-template-areas: 'header' 'page' 'footer';
    grid-template-columns: 1fr;
  }

  grid-template-rows: auto 1fr auto;
  min-height: 100dvh;

  .header {
    grid-area: header;
  }

  .footer {
    grid-area: footer;
  }

  .menu {
    grid-area: menu;

    @include mixins.mobile {
      display: none;
    }
  }

  .page {
    grid-area: page;
    max-width: mixins.$mobile-breakpoint;
    padding: theme.$spacing-small;
    justify-self: center;

    @include mixins.mobile {
      padding: 0;
      max-width: 100dvw;
    }
  }
}
