@use '@theme/theme';
@use '@theme/mixins';

.banner {
  @include mixins.banner;

  height: mixins.$banner-height;
  overflow: hidden;
  color: theme.$white;

  .image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .headline {
    position: absolute;
    top: 20%;
    left: 50%;
    width: 50%;
    font-size: theme.$font-header;
  }

  .copy {
    position: absolute;
    top: calc(20% + 2rem);
    left: 50%;
    width: 50%;
    font-size: theme.$font-smaller;
    font-weight: theme.$extra-light;
  }

  & > div {
    z-index: -1;
  }
}
