@font-face {
  font-family: 'Jakarta';
  src: url('/fonts/PlusJakartaSans-VariableFont_wght.ttf');
}

* {
  font-family: Jakarta, Arial, Helvetica, sans-serif;
  color: #252526;
}

button,
a {
  color: unset;
  text-decoration: unset;
  border: unset;
  background: unset;
}
